@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  /*Primary*/
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  /*  Accent*/
  --Bright-Blue: hsl(224, 93%, 58%);
  --hover-Bright-Blue: hsl(224, 95%, 85%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --hover-Moderate-Cyan: rgb(45, 219, 190);
  /*Neutral*/
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 375px;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}
/*RESET */
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--hover-Bright-Blue);
}

img {
  max-width: 100%;
}

/* END OF RESET */

input {
  width: 100%;
  padding: 1em 0;
}
P {
  font-size: 0.8rem;
}

/*HEADER PART*/
header {
  padding: 1.5em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5em;
}
ul {
  display: flex;
  gap: 1em;
  font-size: 0.7rem;
}
.header-logo {
  width: 50%;
}

.header-content {
  text-align: center;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1em 0;
}

.label-text {
  margin: 2.2em 0 1em 0;
}
.label-submit {
  background-color: var(--Bright-Blue);
  border-radius: 5px;
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.label-submit:hover {
  background-color: var(--hover-Bright-Blue);
}

/* END OF HEADER PART*/

/*SECTION PART */
.middle-section {
  background-image: url(/images/bg-curve-mobile.svg);
  background-size: cover;
  background-position: top;
  padding: 1em;
  margin-top: 5em;
}

.section-img img {
  padding: 5em 1em;
}

h2 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1.3em;
}
.see-how {
  font-size: 0.7rem;
  margin: 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  color: var(--Moderate-Cyan);
}

.section-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1.5em;
  border-radius: 10px;
  margin: 3em 1.2em;
}

.card-profile {
  display: flex;
  align-items: center;
  gap: 1em;
}
.section-card p {
  margin: 1.5em 0;
}
.avatar {
  border-radius: 50%;
  width: 15%;
}

.profile-info h5 {
  font-size: 0.7rem;
}

.bottom-section {
  text-align: center;
  color: white;
  padding: 3em;
  background-color: var(--Desaturated-Blue);
}
.bottom-section p {
  margin: 1em 0;
}

/* END OF SECTION PART */

/*FOOTER SECTION*/

footer {
  background-color: var(--Very-Dark-Blue);
  padding: 2em;
  color: white;
}
footer a {
  color: white;
  font-size: 0.8rem;
}
.footer-logo {
  filter: brightness(0) invert(1);
}

.footer-contact {
  margin: 3em 0;
}
.icon {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 1em 0;
}
.about-us {
  margin-bottom: 3em;
}
.social-media {
  text-align: center;
  font-size: 1.5rem;
  margin: 1em 0;
}

i:hover {
  color: var(--hover-Bright-Blue);
}

/* END OF FOOTER SECTION*/

@media (min-width: 640px) {
  .header-logo {
    width: 70%;
  }
  ul {
    font-size: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  input {
    width: 80%;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  .section-card {
    width: 70%;
    margin-inline: auto;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  header {
    padding: 3em;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
    text-align: left;
  }

  h3 {
    font-size: 1rem;
  }
  ul {
    gap: 4em;
  }
  p {
    font-size: 0.8rem;
  }

  .see-how {
    justify-content: left;
  }

  .middle-section {
    padding: 3em;
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    text-align: left;
  }
  .middle-section {
    display: flex;
    gap: 2em;
    flex-direction: row-reverse;
    text-align: left;
  }
  .middle-title,
  .section-img img {
    padding: 9em 0;
  }

  .section-card {
    width: 80%;
    margin-inline: 0;
  }
  .bottom-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    gap: 5em;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
    align-items: baseline;
  }

  .footer-contact {
    margin: 0;
  }
  i {
    margin: 0 0.5em;
    font-size: 1.5rem;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }

  .header-title .label-text {
    width: 50%;
    margin-right: 1em;
  }

  .header-title .label-submit {
    width: 30%;
  }

  .section-card {
    width: 70%;
  }
  .bottom-getstarted .label-submit {
    width: 40%;
  }
}

@media (min-width: 1536px) {
  .section-card {
    width: 50%;
  }
}

@media (min-width: 1920px) {
  .header-logo {
    width: 100%;
  }

  span {
    display: block;
  }
  h1 {
    font-size: 4rem;
  }
}
